<!DOCTYPE html>
<html>
<head>
  <title>Camera Admin | Vogon-IT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-switch.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Camera Configuration</h1>
    <hr>

    <div class="alert alert-success">Configuration saved successfully.</div>
    <div class="alert alert-danger">...</div>

    <form role="form" id="form">
      <legend>Camera State</legend>
      <div class="form-group">
        <input id="switch" type="checkbox" data-on="success" data-off="danger">
      </div>

      <legend>Database Configuration</legend>
      {{#each dbData}}
        {{#if checkbox}}
          <div class="form-group">
            <label for="{{property}}" style="display: block;">{{property}}</label>
            <input id="{{property}}" name="{{property}}" type="checkbox" data-on="success" data-off="danger" class="checkbox form-control" {{checked}}>
          </div>
        {{else}}
          <div class="form-group {{hidden}} {{switch}}">
            <label for="">{{property}}</label>
            <input type="text" class="form-control" id="{{property}}" name="{{property}}" value="{{value}}">
          </div>
        {{/if}}
      {{/each}}
      <hr>
      <legend>File Configuration</legend>
      <div class="bs-callout bs-callout-danger">
        <h4>Warning!</h4>
        <p>Please don't change the configuration file unless you really know what you are doing.</p>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">configuration file</label>
        <textarea class="form-control" rows="13" name="configData">{{configData}}</textarea>
      </div>
      <hr>
      <button type="submit" class="btn btn-default">Save changes</button>
    </form>
    <hr>
    <footer>
      <p>&copy; Vogon-IT 2014</p>
    </footer>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap-switch.min.js"></script>
  <script src="js/lo-dash.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>