<!DOCTYPE html>
<html>
<head>
  <title>Camera | Vogon-IT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <meta http-equiv="refresh" content="{{interval}}">
</head>
<body>
  <div class="container">
    <h1>Camera ({{modified}})</h1>

    <hr>
    <div class="row">
      <div>
        <span class="thumbnail">
          <img id="latest-image" src="{{image}}">
        </span>
      </div>
    </div>

    <hr>
    <footer>
      <p>&copy; Vogon-IT 2013</p>
    </footer>
  </div>
</body>
</html>